# Task 1:   Python Operators and Operands

In [1]:
#1. Addition

a = 15
b = 20

print(a + b)

35

In [2]:
#2. Subtraction

a = 25
b = 10

print(a - b)

15

In [3]:
#3. Multiplication

a = 5
b = 10

print(a * b)

50

In [5]:
#4. Division

a = 200
b = 20

print(a / b)

10.0

In [6]:
#5. Modulus

a = 200
b = 15

print(a % b)

5

In [10]:
#5. Exponent

a = 2
b = 14

print(a^2 + b)

18

In [12]:
#6. Parenthesis 


print(5 + 15 * 8 * (20 / 4) - 10 + (250 * 25))

6845.0

In [2]:
#7. bool

a = 50
b = 100

a > 40 and b < 150

True

In [4]:
#8. += 

a = 10
a += 20

print(a)

30

In [5]:
#9. -=

a = 30
a -=10

print(a)

20

In [6]:
#10. *=

a = 15
a *= 2

print(a)

30

In [7]:
#11. /=

a = 20
a /= 2

print(a)

10.0

In [8]:
#12. **=

a = 20
a **= 2

print(a)

400

In [10]:
#13. != (Not Equal)

a = 20
b = 30

if a != b:
    print("Both Values are not equal")

Both Values are not equal

In [11]:
#14. == (Equal)

a = 20
b = 20

if a == b:
    print("Both Values are equal")

Both Values are equal

In [12]:
#15. < (Less Than)

a = 10
b = 20

if a < b:
    print("Second Value is greater")

Second Value is greater

In [13]:
#16. < (Greater Than)

a = 30
b = 20

if a > b:
    print("First Value is greater")

First Value is greater

In [14]:
#17. <= (Less Than or Equal To)

a = 10
b = 20

if a <= b:
    print(a + b)

30

In [19]:
#18. >= (Greater Than or Equal To)

a = 30
b = 20

if a >= b:
    print(a + b)

50

In [22]:
#19. or (or Operator)

a = 10
b = 20

if a > b or b > a:
    print(a + b)

30

In [23]:
#20. and (and Operator)

a = 20
b = 40

if a < b and b > a:
    print(a + b)

60

# Task 2:    Python String Data Type Methods

In [1]:
my_name = "Khalid Imran"
dir(my_name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
my_country_name = "islamic Republic of Pakistan"

print(my_country_name.capitalize()) #this method convert the first character in Upper case of string

Islamic republic of pakistan

In [12]:
my_country_name = "ISLAMIC REPUBLIC OF PAKISTAN"

print(my_country_name.casefold()) #this method convert the whole string to lowercase

islamic republic of pakistan

In [14]:
my_country_name = "ISLAMIC REPUBLIC OF PAKISTAN"

print(my_country_name.center(50)) #this method center align the string as per given parameter

           ISLAMIC REPUBLIC OF PAKISTAN

In [16]:
my_country_name = "ISLAMIC REPUBLIC OF PAKISTAN"

print(my_country_name.count('I')) #this method count the total number of a character in string

4

In [25]:
my_country_name = "Islamic Republic of PÃ¥kistan"

print(my_country_name.encode()) #this method returns encoded version of given string

b'Islamic Republic of P\xc3\xa5kistan'

In [26]:
my_country_name = "Islamic Republic of Pakistan"

print(my_country_name.endswith('n')) #this method returns True if strings ends with the specified
                                     #character otherwise false.

True

In [33]:
my_country_name = "Islamic\tRepublic\tof\tPakistan"

print(my_country_name.expandtabs(7)) #this method returns a copy of string with spaces replace \t 
                                    #as per given parameter

Islamic       Republic      of     Pakistan

In [34]:
my_country_name = "ISLAMIC REPUBLIC OF PAKISTAN"

print(my_country_name.find('O')) #this method find out given character position in string

17

In [38]:
my_bio_data = 'My name is {name}, I am from {country}'

print(my_bio_data.format(name = "Khalid", country = "Pakistan.")) 

#this method concatenate elements within a string through positional formatting

My name is Khalid, I am from Pakistan.

In [41]:
my_bio_data = {'name':'My name is Khalid', 'country':'I am from Pakistan'}

print('{name} {country}'.format_map(my_bio_data)) #used to return an dictionary key's value.

My name is Khalid I am from Pakistan

In [45]:
my_country_name = "ISLAMIC REPUBLIC OF PAKISTAN"

print(my_country_name.index('P')) #this method returns the index of specified character in string

10

In [47]:
my_user_name = "khalidimran721"
my_name = "Khalid Imran"

print(my_user_name.isalnum()) #this method returns true or false value if either string is 
print(my_name.isalnum()) #alphanumaric or not.

True
False

In [49]:
my_user_name = "khalidimran721"
my_name = "KhalidImran"

print(my_user_name.isalpha()) #this method returns true or false value if either string is 
print(my_name.isalpha()) #contain space or not.

False
True

In [50]:
my_country_name = "ISLAMIC REPUBLIC OF PAKISTAN"

print(my_country_name.isascii()) #this method checks whether the string contains ASCII characters.

True

In [58]:
my_user_name = "khalidimran"
my_age = "30"

print(my_user_name.isdecimal()) #this method returns true or false if string contain decimal value.
print(my_age.isdecimal())

False
True

In [57]:
my_user_name = "khalidimran"
my_age = "30"

print(my_user_name.isdigit()) #this method returns true or false if string contain digit.
print(my_age.isdigit())

False
True

In [59]:
my_user_name = "khalidimran721"
my_age = "30"

print(my_user_name.isidentifier()) #this method check whether a string is a valid identifier or not.
print(my_age.isidentifier())

True
False

In [60]:
my_user_name = "khalidimran"
my_name = "KhalidImran"

print(my_user_name.islower()) #this method returns true if either string is all lowercase.
print(my_name.islower())

True
False

In [62]:
my_user_name = "khalidimran721"
my_age = "30"

print(my_user_name.isnumeric()) #this method check whether a string is all numaric or not.
print(my_age.isnumeric())

False
True

In [72]:
my_user_name = "khalidimran721"
my_age = "30"

print(my_user_name.isprintable()) #this method check whether a string is printable or not.
print(my_age.isprintable())

True
True

In [75]:
my_user_name = "khalidimran721"
my_name = "  "

print(my_user_name.isspace()) #this method returns true if all string is white spaced otherwise false.
print(my_name.isspace())

False
True

In [78]:
my_user_name = "khalidimran721"
my_name = "Khalid Imran"

print(my_user_name.istitle()) #this method returns true if all words start with Uppercase otherwise false
print(my_name.istitle())

False
True

In [79]:
my_user_name = "khalidimran721"
my_name = "KHALID IMRAN"

print(my_user_name.isupper()) #this method returns true if all characters in Uppercase otherwise false
print(my_name.isupper())

False
True

In [88]:

my_name = {'Khalid' , 'Imran'}

print(' '.join(my_name)) #this method joined all words into one string

Imran Khalid

In [89]:

my_name = "Khalid"

print(my_name.ljust(20),"Imran") #this method left justified the word in a string

Khalid               Imran

In [90]:
my_name = "KHALID IMRAN"

print(my_name.lower()) #this method convert all string into lowercase

khalid imran

In [92]:
my_user_name = "          khalidimran721"
my_name = "               KHALID IMRAN"

print(my_name)#with lstrip method
print(my_user_name.lstrip()) #this method remove all spaces from string from left side
print(my_name.lstrip())

               KHALID IMRAN
khalidimran721
KHALID IMRAN

In [100]:
from string import maketrans

intab = "khalidimran7"
outtab = "KHALID IMRAN"
trantab = maketrans(intab, outtab)

str = "My username and name is"

print(str.translate(trantab)) #this method returns true if all characters in Uppercase otherwise

ImportError: cannot import name 'maketrans' from 'string' (C:\Users\Khalid\Anaconda3\lib\string.py)

In [105]:

my_name = "Khalid Imran"

print(my_name.partition('Imran')) #this method split sting into tuple

('Khalid ', 'Imran', '')

In [108]:

my_name = "Khalid Imran"

print(my_name.replace('Khalid','Muhammad')) #this method replace the string with new word

Muhammad Imran

In [110]:
my_user_name = "Khalidimran721"

print(my_user_name.rfind('m')) #this method find index value of specific character in string

7

In [111]:
my_user_name = "Khalidimran721"

print(my_user_name.rindex('n')) #this method returns index value of specific character in string

10

In [112]:
my_user_name = "Khalidimran721"

print(my_user_name.rjust(50)) #this method justified the string

                                    Khalidimran721

In [115]:
my_name = "Khalid Imran"

print(my_name.rpartition('Imran')) #this method split string into tuple containing three elements

('Khalid ', 'Imran', '')

In [116]:
my_name = "Khalid Imran"

print(my_name.rsplit()) #this method seperates the string and returns a list

['Khalid', 'Imran']

In [123]:
my_name = "Khalid Imran"

print(my_name.rstrip('n')) #this removes all the specified characters from right side of the string

Khalid Imra

In [124]:
my_name = "Khalid Imran"

print(my_name.split()) #this method is opposite of concatination its split sting into array

['Khalid', 'Imran']

In [126]:
my_name = "Khalid Imran"

print(my_name.splitlines()) #this method returns a list of lines in the string.

['Khalid Imran']

In [128]:
my_user_name = "khalidimran721"
my_name = "KhalidImran"

print(my_user_name.startswith('k')) #this method returns true or false value if either string is 
print(my_name.startswith('h')) #"Start with spacific character or not.

True
False

In [132]:
my_name = "Khalid Imran"

print(my_name.swapcase()) #this method convert the string into opposite lower/upper case.

kHALID iMRAN

In [133]:
my_name = "khalid imran"

print(my_name.title()) #this convert first character of each word of string

Khalid Imran

In [134]:
my_name = "khalid imran"

print(my_name.upper()) #this convert all string in uppercase

KHALID IMRAN

In [135]:
my_name = "khalid imran"

print(my_name.zfill(16)) #this fills the string at left with 0 digit to make a string of length width.

0000khalid imran